{% extends "account/base.html" %}

{% load i18n %}

{% load bootstrap3 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container" style="
    background-color: #fff;
    opacity: 0.7;
    height: 373px;
">
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Don't have an account? Then please <a href="{{ login_url }}">sign up</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
{% endblock %}
