{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{ title }}</title>

    {% bootstrap_css %}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar-fixed-top.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block extra_css %}
    {% endblock %}

    <style>
      {% block style %}
        .cs-brand {
          padding: 0px 0px;
          height: 50px;
        }
      .center {
        float: none;
        margin: 0 auto;
        text-align: center;
        display: block;
        width: auto;
        height: auto;
      }
      .logged-out {
        background-color: #E4ECF3;
      }
      .navbar {
        font-variant: small-caps;
        background-color: white;
      }
      .nav-user-name {
        font-size: 80%;
      }
      .navbar .divider-vertical {
        height: 50px;
        margin: 0 0px;
        border: 1px solid orange;
      }
      {% endblock %}
    </style>
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top {% if request.user.is_authenticated %}logged-in{% else %}logged-out{% endif %}" style="opacity: 0.7">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand cs-brand" href="{% url 'home' %}">
            <img style="height: 50px;width: 200px;" alt="Brand" src="{% static 'img/brand.png' %}">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% block navbar_left %}
            {% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% block navbar_right %}
              {% if request.user.is_authenticated %}
                <li>
                  <a href="{% url 'account_logout' %}">Logout</a>
                </li>
                <li class="divider-vertical">
                </li>
                <li><a href="#" class="nav-user-name">
                  {% if request.user.first_name or request.user.last_name %}
                      {{ request.user.first_name }} {{ request.user.last_name }}
                  {% else %}
                      {{ request.user.username }}
                  {% endif %}
                  {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}
                </a></li>
              {% else %}
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                <li><a href="{% url 'account_login' %}">Login</a></li>
              {% endif %}
            {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      {% bootstrap_messages %}

      {% block content %}
      {% endblock %}
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      {% bootstrap_javascript jquery=1 %}

      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    {% endblock %}

  </body>

</html>